script(type='text/javascript', src='/js/bootstrap.min.js')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script
      window.jQuery || document.write('<script src="js/libs/jquery-1.8.3.min.js"><\\/script>')
    //-script(defer, src='js/plugins.js')
script(defer, src='/js/script.js')
script(defer, src='/socket.io/socket.io.js')